.ms-content {
  background-image: url("../../assets/images/bg_image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.ms-image {
  box-shadow: 2px 2px 4px black;
  border-radius: 15px;
  margin-left: 80px;
  margin-top: 4%;
  height: 35%;
  width: 90%;
  position:absolute;
}

.MSsearch-container{
  margin-top:22%;
  margin-left: 10%;
}