.pc-content {
  background-image: url("../../assets/images/bg_image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.pc-image {
  box-shadow: 2px 2px 4px black;
  border-radius: 15px;
  margin-left: 10%;
  margin-top: 4%;
  width: 80%;
}
.search-container {
  margin-top: 3%;
  margin-left: 10%;
}

@media (max-width: 480px){
  .pc-image {
    box-shadow: 2px 2px 4px black;
    border-radius: 15px;
    margin-left: 5%;
    margin-top: 4%;
    height: 10%;
    width: 90%;
  }

  .search-container {
    margin-top: 5%;
    margin-left: 5%;
    width: 100vw;
  }
  ::placeholder {
    font-size: 12px;
  }
 
}
@media (min-width: 481px)and (max-width:768px){
  .pc-image {
    box-shadow: 2px 2px 4px black;
    border-radius: 15px;
    margin-left: 5%;
    margin-top: 4%;
    height: 10%;
    width: 90%;
  }

  .search-container {
    margin-top: 5%;
    margin-left: 5%;
    width: 100vw;
  }
  ::placeholder {
    font-size: 20px;
  }

  .contain-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    grid-template-rows: repeat(auto, 1fr);
  }
  
}