.pc-content {
  background-image: url("../../assets/images/bg_image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.pc-image {
  box-shadow: 2px 2px 4px black;
  border-radius: 15px;
  margin-left: 10%;
  margin-top: 4%;
  width: 80%;
}
.search-container {
  margin-top: 5%;
  margin-left: 10%;
}
