.ce-content {
  background-image: url("../../assets/images/bg_image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.ce-image {
  box-shadow: 2px 2px 4px black;
  border-radius: 15px;
  margin-left: 80px;
  margin-top: 4%;
  height: 50%;
  width: 90%;
  position: absolute;
}


.CEsearch-container{
  margin-top: 30%;
  margin-left: 10%;
}
