.medicine-card-container {
  margin-top: 40%;
  width: 90%;
  border-radius: 30px;
  border-style: solid;
  margin-left: 80px;
}

.contain-card {
  margin-top: 2%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto, 3fr);
  gap: 30px 20px;
}

.otc-image {
  box-shadow: 2px 2px 4px black;
  border-radius: 15px;
  margin-left: 80px;
  margin-top: 4%;
  height: 35%;
  width: 90%;
  position: absolute;
}
.otc-txt {
  color: black;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  text-shadow: 2px 2px 8px black;
}

.txt-padding {
  top: 25%;
  left: 33%;
  position: absolute;
  background-color: white;
  width: 35vw;
  height: 10vh;
  opacity: 0.9;
}

.search-container {
  margin-top: 22%;
  margin-left: 10%;
}
